<nz-content class="nzct">
  <div class="inner-content">
    <div class="first-content">
      <div class="title-content">
        <div class="text-center">
          <h1 class="h1tag">Angular Homepage</h1>
          <p class="text-p">Angular Homepage<br>
            앵귤러 인증관련 홈페이지
          </p>
          <div class="btn-width">
            <button class="more-btn">알아보기<i nz-icon class="arrow" nzType="arrow-right" nzTheme="outline"></i></button>
          </div>
        </div>
      </div>
      <div class="title-image">
        <img class="titleimg1" src="assets/images/bbyuing.png" style="width: 570px; height: 332px; z-index: 2;">
      </div>
    </div>

  </div>
    <div class="our-client">
      <h1>skills</h1>
    </div>
    <div class="banner-nav">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="itembox">
            <img src="assets/images/Javaspring.png" style="width: auto; height: 50px;">
            <p class="text-p">Spring</p>
          </div>
          
        </ng-template>
        <ng-template carouselSlide>
          <div class="itembox">
            <img src="assets/images/Angular.png" style="width: auto; height: 50px;">
            <p class="text-p">Angular</p>
          </div>
         
        </ng-template>
        <ng-template carouselSlide>
          <div class="itembox">
            <img src="assets/images/Vue.png" style="width: auto; height: 50px;">
            <p class="text-p" style="padding-left: 15px;">Vue</p>
          </div>
         
        </ng-template>
        <ng-template carouselSlide>
          <div class="itembox">
            <img src="assets/images/Ts.png" style="width: auto; height: 50px;">
            <p class="text-p" style="padding-left: 15px;">Typescript</p>
          </div>
         
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="About-us">
      <div>
        <h1>other skills</h1>
      </div>
    </div>
    <div class="under-main-cot">
      <div class="under-main-back">
        <div class="img-main-under">
          <div class="img-back">
          <img src="assets/images/bbyuing.png "  style="width: auto; height: 407px;">
          </div>
        <div class="img-back-div">
          <div class="check-div-set">
          <div class="check-div">
            <img src="assets/images/check.png" width="31.88px; height:25.15px;"><span class="margin-sp">CSS</span>
          </div>
          <div class="check-div">
            <img src="assets/images/check.png" width="31.88px; height:25.15px;"><span class="margin-sp">Html</span>
          </div>
          <div class="check-div">
            <img src="assets/images/check.png" width="31.88px; height:25.15px;"><span class="margin-sp">Jqury</span>
          </div>
        </div>
      </div>
      </div>
        <div class="under-under-back">
          <div class="Contact-under">
            <div class="Contact-under-div">
              <div class="margin-top-conta">
              <div class="toph">Contact</div>
              <div class="text-div-under-p">
              <p class="text-p-under">Git Hub : Pongja</p>
              <p class="text-p-under">메일 : rlqjadl2222@naver.com</p>
            </div>
            <a href="https://github.com/pongja"><button class="more-btn-moon2">문의하기<i nz-icon class="arrow" nzType="arrow-right" nzTheme="outline"></i></button></a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</nz-content>
<div class="nzct-foot">
  <hr class="hr-size-main">
  <nz-footer class="foot-main">
    <div class="foot-total-main">
    <div class="fot-text-main">
      <p class="left-main">깃허브주소: https://github.com/pongja</p>
      <p class="left-main">TEL: xxx-xxxx-xxxx</p>
    </div>
  </div>
  </nz-footer>
  </div>

